@media  (max-width:992px){
    .hero{
    display: flex;
    flex-direction: column-reverse;

}
.counterCont{
    grid-template-columns: auto;
}
.btnCont{
    display: flex;
    justify-content: left;
    padding-top: 20px;
    gap: 5px;
    font-size: 10px;
}
   
}
@media (max-width:768px){
   .container{
    padding:  25px calc(25px + 1vw);
}
    .nav ul{
    display: none;
   }
    .mobileMenu{
    display: block;
}
.insideShopCards{
    grid-template-columns: auto;

}

.flex button{
    width: fit-content;
}
.footerColGrid{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    
}
}
@media (max-width:576px){
    .callBtn{
        width: auto;
    }
    .callBtn  span{
        display: none;
    }
     .heroCards{
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
}
.flex{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}
    .footerColGrid{
    grid-template-columns: 1fr;
    text-align: center;
    
}
.copyright{
    text-align: center;
}
}
