@media  (max-width:992px){
    .heroGrid{
    display: flex;
    flex-direction: column-reverse;

}
.trustedCards{
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.whatWeDoCards{
    grid-template-columns:  1fr;
}
.counterCont{
    grid-template-columns: auto;
}
.whoWeServeCards{
    grid-template-columns: repeat(2,1fr);
}
.btnCont{
    display: flex;
    justify-content: left;
    padding-top: 20px;
    gap: 15px;
    text-align: center;
    font-size: 10px;
}
   
}
@media (max-width:768px){
    .nav ul{
    display: none;
   }
    .mobileMenu{
    display: block;
}
.insideShopCards{
    grid-template-columns: auto;

}
.trustedCards .card img{
     filter: grayscale(0%);
}
.flex{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.flex button{
    width: 100%;
}
#coreRepair{
    grid-template-columns: auto;
}
.contactGrid{
    grid-template-columns: 1fr;
}
.footerColGrid{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    
}
}
@media (max-width:576px){
    .companyName p{
        display: none;
    }
    .callBtn{
        width: auto;
    }
    .callBtn  span{
        display: none;
    }
     .heroCards{
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
}
.heroBtn,
.btnFlex{
flex-direction: column;
}
.heroCard{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heroCard p{
    margin-bottom: 0;
}
.trustedCards{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.whoWeServeCards{
    grid-template-columns: auto;
}
.location li{
    padding: 12px 0;
    grid-template-columns: auto;
    gap: 10px;
}
form button{
width: 100%;
}
.footerColGrid{
    grid-template-columns: 1fr;    
}
}
