@media (max-width: 992px){
    .card-area{
        width: calc(50% - 15px);
    }
}
@media (max-width:768px){
    nav{
        display: none;
    }
    header{
        height: 100px;
        padding: 10px 0;
    }
    .header-top{
        display: none;
    }
    
    .social-icon img{
        width: 30%;
    }
     .heading-fl{
        font-size: calc(1.5rem + 2vw);
    }
     .nav-ul li a{
        font-size: calc(.8rem + .5vw);
    }
     .nav-ul li a{
        color: var(--font-color);
    }
    .header-btm{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h1{
        text-align: left;
        padding-top: 20px;

        
    }
    
h1 img{
    width: 45px;
    
}
.mobile-menu{
    display: block;
}

.card1-img img{
    height: 180px;
}
.card1-body h5 br{
    display: none;
}
.counter-left{
    display: none;
   
}
.counter-middle{
    padding: 0 15px;

}
@media (max-width: 575px) {
    .common-container{
    padding:  0 30px ;
    }
    .banner-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}
.banner-cont-col{
    width: 100%;
    text-align: center;

}
.banner-cont-col img{
    width: 200px;

}
.counter2-col{
    width: 100%
}
}

@media (max-width:425px){
 .card-area{
        width: 100%;
    }
    .counter-sec1{
        flex-direction: column;
        gap: 20px;
    }
    .counter-middle{
        padding-top: 15px;
    }
    
}