*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --red-color: rgb(205, 35, 35);
    --btn-color: #2c99da;
    --secondary-color: #fff;
    --sec-bg:#b3aaaa1f;
}
ul,
li,
a{
    list-style: none;
    text-decoration: none;
}
.material-symbols-outlined{
    vertical-align: middle;
}
/* ============================================
                    banner
============================================*/

.bannerSec{
    background: url(/image/hero-bg-img.jpg) no-repeat center center/cover;
    min-height: 500px;
    height: 100vh;
}
.bannerSec::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

header{
    position: absolute;
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, rgba(192, 192, 192, 0) 100%);
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
nav{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}
.navlinks{
    display: flex;
    align-items: center;
    gap: 1.5vw;
    transition: all .3s ease-in-out;
}
.navlinks li{
    padding: 10px;

}
.navlinks li a{
    color: #fff;
    font-size: clamp(0.8rem, 1.1vw, 1.2rem);
    transition: all 0.3s ease-in-out;
    font-weight: 500;

}
.navlinks li:hover,
.navlinks li.active{
    background-color:var(--red-color);
    transition: all .3s ease-in-out;

}

/* submenu============================================ */

.link{
    position: relative;
}
.sublinks{
    display: none;
    position: absolute;
    z-index: 1100;
    width: 200px;
    top: 40px;
    left: 0;
    background-color: #fff;
    border-top:3px solid var(--red-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    transition: all .3s ease-in-out;
}
.link:hover .sublinks{
     display: block;
     transform: translateY(-10px);
    transition: all .3s ease-in-out;
}
.sublinks li a{
    color: #111;
}
.sublinks li:hover a{
    color: #fff;
}


/* submenu end================================= */

.call{
    font-size: clamp(0.8rem, 1.1vw, 1.2rem);

}
.call span{
    color: #fff;
}
.mobUser{
    display: none;
}
.submitBtn{
    background-color: var(--red-color);
    color: #fff;
    padding: 10px 15px;
    border:none;
    background-color: var(--btn-color);
    font-size: clamp(0.8rem, 1.1vw, 1.2rem);
    transition: 0.3s ease-in-out;
}
.menuIcon{
    display: none;
    color: #fff;
    cursor: pointer;
}

.bannerCont{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#fff ;
    width: 70%;
} 
.bannerCont h2{
    font-size: clamp(1.6rem, 3.5vw, 2rem);
    font-weight: 600;
}
.bannerCont p{
    font-size: clamp(.8rem, 1.3vw, 1.5rem);
    margin: 10px 0 60px;
}


/* bannerTable============ */
.search-box {
    width: 100%;
    background-color: #fff;
}
.search-row {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

/* Individual fields */
.search-field {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
     color: #555;
    font-size: clamp(0.8rem, 1vw, 1rem);
    /* white-space: nowrap; */
}
.search-field {
    Flex: 1;
}
.address {
    flex: 2;
}
.icon-btn {
    padding: 0 20px;
    border: none;
    background: var(--btn-color);
    color: #fff;
    cursor: pointer;
}
.search-btn {
    border: none;
    background: var(--btn-color);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* Radius */
.radius-row {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    gap: 35px;
}

.radius-text {
    color: #555;
    font-size: 14px;
    min-width: 115px;
}

.radius-text strong {
    font-weight: 700;
}

/* Slider */
.slider-wrapper {
    flex: 1;
}

.radius-slider {
    width: 100%;
    height: 7px;
    appearance: none;
    -webkit-appearance: none;
    background: var(--btn-color);
    border-radius: 10px;
    cursor: pointer;
     background: linear-gradient(
        to right,
        #e6384d 0%,
        #e6384d 60%,
        #2993cf 60%,
        #2993cf 100%
    );
}

/* Slider thumb */
.radius-slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
     background: var(--red-color);
    border-radius: 50%;
    cursor: pointer;
}

.radius-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--red-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* common css======================================= */
.cmnPadding{
    padding: 30px calc(30px + 3vw);
}
.cmnHeading{
    text-align: center;
    margin-bottom: 30px;
}
.subHeading{
    text-align: center;
    font-size: clamp(.8rem, 1vw, 1rem);
    color: var(--btn-color);
    font-weight: 600;
}
.cmnHeading h2{
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 500;
    color: #111;
    margin: 10px 0;
}
.cmnHeading p{
    font-size: clamp(.7rem, 1vw, 1.2rem);
    color: #808080;
    margin-bottom: 10px ;
}
.btnFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.btnFlex button{
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    color: #111;
    padding: 8px 12px;
    border:none;
    font-size: clamp(0.8rem, 1.1vw, 1.2rem);
    transition: 0.3s ease-in-out;
}
.primBtn{
    background-color: var(--red-color);
    color: #fff;
    padding:  15px 20px;
    border:none;
    font-size: clamp(1rem, 1.2vw, 1.3rem);
    font-weight: 600;
}
.btnFlex button.active{
    background-color: var(--red-color);
    color: #fff;
}

/* rentalSec================================== */


.cardGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 20px;
}

.property-card {
            background: #fff;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
        }

        /* ================= IMAGE ================= */

.property-image {
            position: relative;
            overflow: hidden;
        }
.property-image img {
            width: 100%;
            height: 100%;
            scale:1.1;
            transition:all .5s ease-in-out ;
        }
.property-image img:hover{
            transform: scale(.9);
            transition:all .5s ease-in-out ;
        }

        /* Top left badges */
.image-badges {
            position: absolute;
            top: 10px;
            left: 10px;
            display: flex;
            gap: 8px;
        }

        .badge {
            background: #ed3348;
            color: white;
            padding: 5px 8px;
            border-radius: 3px;
            font-size: 13px;
            display: flex;
            align-items: center;
            gap: 4px;
        }

        /* Star bookmark */

        .bookmark {
            position: absolute;
            top: 0;
            right: 0;
            width: 31px;
            height: 34px;
            background: #3c9bc5;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
        }

        .bookmark::after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 0;
            border-left: 15.5px solid transparent;
            border-right: 15.5px solid transparent;
            border-top: 8px solid #3c9bc5;
        }

        /* ================= OWNER ================= */

        .owner {
            position: absolute;
            bottom: 8px;
            left: 18px;
            display: flex;
            align-items: center;
            gap: 8px;
            color: white;
            }

        .owner-image {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 2px solid white;
            overflow: hidden;
            background: white;
        }
        .owner-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .owner-info {
            font-size: clamp(10px,.8vw,14px);
            line-height: 16px;
        }

        .owner-info strong {
            display: block;
            font-size: 13px;
        }
        

        /* ================= CONTENT ================= */

        .property-content,
        .news-content {
            padding: 25px 20px 25px;
        }

        .property-title,
        .news-title {
            color: #003b56;
            font-size: clamp(12px, 16px, 20px);
            font-weight: 700;
            margin-bottom: 15px;
        }

        /* Location */
        .location{
            color: #4a7c9d;
        }

        .location a {
            color: #4a7c9d;
            text-decoration: underline;
        }

        /* Rating */

        .rating {
            display: flex;
            gap: 2px;
            margin: 12px 0;
        }

        .rating i {
            color: #ed3348;
            font-size: 15px;
        }

        /* Date */

        .added {
            font-size: 12px;
            color: #777;
            margin-bottom: 12px;
        }

        .added span {
            color: #111;
            font-weight: 500;
        }

        /* ================= DETAILS ================= */

        .details {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 8px;

            margin-top: 4px;
        }

        .detail {
            text-align: left;
        }

        .detail-title {
            color: #003b56;
            font-size: 12px;
            font-weight: bold;

            margin-bottom: 10px;
        }

        .detail-bottom {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .detail-icon {
            color: #b4b4b4;
            font-size: 23px;
            width: 25px;
        }

        .detail-value {
            color: #003b56;
            font-size: 13px;
            font-weight: bold;
        }

        .detail-unit {
            color: #888;
            font-size: 11px;
            font-weight: normal;
            margin-left: 2px;
        }

        /* ================= BOTTOM ================= */

        .card-bottom {
            margin-top: 25px;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .price {
            color: #159bd3;
            font-size: 17px;
            font-weight: bold;
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 18px;
        }

        .action-btn {
            border: none;
            background: transparent;

            cursor: pointer;

            font-size: 22px;
            color: #bbb;

            transition: 0.25s;
        }

        .heart-btn .active {
            color: #ed3348;
        }

        .heart-btn.active {
            transform: scale(1.15);
        }

        .share-btn:hover {
            color: #555;
        }
        

/* imageGrid============================================ */

.imageGrid{
    display: grid;
    justify-content: center;
    grid-template-areas:
        "a a b c"
        "d e f f";
        grid-template-rows: 250px 250px;
}

.viewImg{
    position: relative;
    overflow: hidden;
    /* z-index: 1; */

}

.viewImg::before{
   content: '';
   position: absolute;
   background: rgba(0, 0, 0, 0.5);
    inset: 0; 
   z-index: 1;
}
.viewImg:nth-child(1){
    grid-area: a;
}
.viewImg:nth-child(2){
    grid-area: b;
}
.viewImg:nth-child(3){
    grid-area: c;
}
.viewImg:nth-child(4){
    grid-area: d;
}
.viewImg:nth-child(5){
    grid-area: e;
}
.viewImg:nth-child(6){
    grid-area: f;
}

.viewImg img{
    width: 100%;
    height: 100%;
    scale: 1.1;
    transition: all .5s ease-in-out;
}
.viewImg:hover::before {
    opacity: 0;
    transition: all .5s ease-in-out;

}

.viewImg:hover img {
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}
.topRel{
    position: absolute;
    z-index: 2;
    top:25px;
    left: 25px;
    color: #fff;
    font-size: clamp(12px, 1.3vw, 16px);

}
.btmRel{
    position: absolute;
    z-index: 2;
    bottom:25px;
    right: 25px;
    color: #fff;
    z-index: 2;
}

/* letestRental Sec======================================= */
.imgRelBtm{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: #fff;
    padding: 5px 8px;
}
.ownerDiv{
    background-color: var(--sec-bg);
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0 -10px;

}

/* parallax========================================= */
 .parallax{
    height: 450px;
    width: 100%;
    position: relative;
    overflow: hidden;
    isolation: isolate;

}
.bgImg{
    position: relative;
    width: 100%;
    height: 100%; 
    inset:  0;
    overflow: hidden;
    z-index: 1;
}
.bgImg::after{
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    inset: 0;
}

.bgImg img {
    width: 100%;
    height: 120%;
    display: block;
    transform: translateY(0) scale(1.1);
    will-change: transform;
}
.parallaxCont {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    text-align: left;
    color:#fff ;
    margin: 80px 50px 0 0;
    transform: translateY(80px);
    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
        z-index: 3;
}

.parallaxCont.show {
    opacity: 1;
    transform: translateY(0);
}
.parallaxCont h2{
    font-size: clamp(1.6rem, 3.5vw, 2.5rem);
    font-weight: 500;
}
.parallaxCont p{
    font-size: clamp(.8rem, 1.2vw, 1.5rem);
    margin: 30px 0;
    line-height: 1.7;
}

/* hostsec====================================== */

.hostSec{
   background-color: var(--sec-bg);
}
.card{
    padding: 20px;
    background:#fff;
}
.news-date{
    font-size: clamp(.7rem, 1vw, 1rem);
    margin-bottom: 10px;  
}
.news-date span{
    color: var(--btn-color);
    font-weight: 600;
}
.card p,
.news-para{
    margin-bottom: 20px;
    font-size: clamp(.7rem, 1vw, 1rem);
    line-height: 1.6;
}
.hostSec .owner-info span{
            color:var(--red-color);
        }
.hotSlider {
    width: 100%;
    overflow: hidden;
}

.hotFlex {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease;
}

.hotFlex > .slideCard {
    flex: 0 0 calc((100% - 60px) / 3);
    min-width: 0;
}


/* Dots */

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.dot {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot.active {
    width: 28px;
    background: #000;
    border-radius: 20px;
}


/* =========================
   TABLET
========================= */

@media (max-width: 991px) {

    .hotFlex {
        gap: 20px;
    }

    .hotFlex > .slideCard {
        flex: 0 0 calc((100% - 20px) / 2);
    }

}


/* =========================
   MOBILE
========================= */

@media (max-width: 575px) {

    .hotFlex {
        gap: 15px;
    }

    .hotFlex > .slideCard {
        flex: 0 0 100%;
    }

}

/* partner=============================== */


.partners {
    width: 100%;
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    align-items: center;
    gap: 40px;
    padding: 25px;
    background: #fff;
}

/* =================================================== */
/* footer============================================= */
/* =================================================== */

.footer {
    background: #203d62;
    color: white;
}
/* Footer Brand */
.footer-brand {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 55px;
}
.real-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo-shape {
    font-size: 45px;
    color: #fff;
}
.real-logo strong {
    display: block;

    font-size: 20px;
    line-height: 18px;
}

.slash {
    font-size: 28px;
    color: #58c9e7;
}

.footer-brand p {
    color: #69d0ed;
    font-size: 13px;
}
/* ================= COLUMNS ================= */

.footer-columns {
    display: grid;
    grid-template-columns: 1.1fr 1fr 1.2fr;
    gap: 60px;
}
.footer-column h3 {
    font-size: 14px;
    margin-bottom: 18px;
    color: #fff;
}
/* ================= CONTACT ================= */

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 22px;
}
.contact-item p {
    color: #8fd9ed;
    font-size: 13px;
    line-height: 20px;
}
.footer .material-symbols-outlined{
    color:#8fd9ed ;
}
/* ================= QUICK LINKS ================= */
.links-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.links-grid ul {
    list-style: none;
}
.links-grid li {
    margin-bottom: 16px;
    position: relative;
    padding-left: 12px;
}
.links-grid li::before {
    content: "›";
    position: absolute;
    left: 0;
    color: #a7e0ec;
}
.links-grid a {
    color: #8fd9ed;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
}

.links-grid a:hover {
    color: white;
}
/* ================= AMENITIES ================= */
.amenities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.amenities-list span {
    background: #2499d5;
    color: white;
    padding: 9px 10px;
    font-size: 13px;
    font-weight: 600;
    transition: 0.3s;
}
.amenities-list span:hover {
    background: #45b7e9;
    transform: translateY(-2px);
}
/* ================= FOOTER BOTTOM ================= */

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}
.footer-bottom p {
    color: #91d8eb;
    font-size: 12px;
}
    
    @media (max-width: 991px) {
    header {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    }
    .navlinks {
        position: absolute;
        flex-direction: column;
        background-color:#fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
        padding-top: 30px;
        height: 100vw;
        top: 90px;
        right: 0;
        width: 40%;
        min-width: 250px;
        z-index: 1001;
        transform: translateX(100%);
        transition: transform .3s ease-in-out;
    }
    .navlinks li a{
        color: #111;

    }
    .navlinks li:hover,
.navlinks li .active{
    background-color:transparent;
    padding: 0;
    border-bottom: 2px solid red;
}
    .navlinks.show{
        transform: translateX(0%);
        transition: transform .3s ease-in-out;
    }
    .menuIcon {
        display: block;
    }
    .cardGrid {
        grid-template-columns: repeat(2, 1fr);

    }
     .bannerSec{
        margin-top: 90px;
     }
     .bannerCont{
    width: 90%;
}

    .search-row {
        flex-wrap: wrap;
        height: auto;
    }

    .search-field {
        flex: 1 !important;
    }

    .icon-btn,
    .search-btn {
        height: 60px;
    }
    .imageGrid {
        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-areas:
            "a  b"
            "c  d"
            "e  f"; 
        grid-template-rows: 170px 170px 170px;
    }
    .amenities {
        grid-column: 1 / -1;
    }

    .partners {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        /* padding: 40px 20px; */
    }

    .footer-columns {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 575px) {
    h1 img{
    width: 100px ;
    }
    .call{
        display: none;
    }
    .user{
        display: none;
    }
    .mobUser{
    display: block;
}
.mobUser span,
.menuIcon span{
font-size: 30px;

} 
.submitBtn{
   display: none;
}
.btnFlex{
    gap: 15px;
}
 .imageGrid {
        display: grid;
        grid-template-areas: "a" "b" "c" "d" "e" "f";
       grid-template-rows: repeat(6, 170px);
    }
    .parallaxCont {
    position: absolute;
    top: 0;
    left:20%;
    text-align: left;
    color:#fff ;
    margin: 100px 50px 0 0;
    opacity: 0;
    transform: translateY(80px);
    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
}
   
     .partners {
        grid-template-columns:  1fr;
    }

    .amenities {
        grid-column: auto;
    }

    .links-grid {
        grid-template-columns: 1fr 1fr;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        margin-top: 35px;
    }


    .cardGrid {
        grid-template-columns: 1fr;

    }
     .imageGrid {
        display: grid;
        grid-template-areas:
            "a a b b"
            "c e d d"
            "e e f f";
        grid-template-rows: 180px 180px 180px;
    }

    .property-card {
        width: 100%;
    }

    .property-content {
        padding: 25px 20px;
    }

    .details {
        gap: 5px;
    }

    .detail-title {
        font-size: 11px;
    }

    .detail-value {
        font-size: 12px;
    }

    .vacation-search {
        padding: 20px 0;
    }

    .tagline {
        font-size: 16px;
        padding: 0 10px 25px;
    }

    .search-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .search-field {
        width: 100%;
        border-bottom: 1px solid #ddd;
        padding: 0 15px;
    }

    .icon-btn {
        width: 100%;
    }

    .search-btn {
        width: 100%;
    }

    .slider-wrapper {
        width: 100%;
    }
     .footer {
        padding: 45px 0 20px;
    }

    .footer-container {
        width: 88%;
    }

    .footer-brand {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    .footer-columns {
        gap: 35px;
        grid-template-columns: 1fr;
    }
}